/*--------------------------------------------------------------
  TABLE OF CONTENTS:
----------------------------------------------------------------

** - Utility
** - Common
** - Custom Cursor
** - Animations
** - Cards
** - Navigation
** - Home Showcase
** - Mobile Nav
** - Search Popup
** - Page Header
** - Main Slider
** - About
** - Services
** - ServiceS Details
** - Project
** - Project Details
** - Video
** - Funfact
** - Team
** - Team Details
** - Contact
** - Testimonial
** - Why Choose
** - Working Process
** - Blog
** - Blog List
** - Blog Standard
** - Blog Details
** - Feature
** - Pricing Plan
** - Faq
** - Gallery
** - History
** - Coming Soon
** - Products
** - Product Details
** - Cart
** - Checkout
** - Wishlist
** - Sign Up
** - Login
** - Privacy Policy
** - Error
** - Footer
** - Google Map

--------------------------------------------------------------*/


/*--------------------------------------------------------------
# Common
--------------------------------------------------------------*/
:root {
  --eduvers-base: #53adbc;
  --eduvers-base-rgb: 83, 173, 188;
  --eduvers-black: #17303d;
  --eduvers-black-rgb: 23, 48, 61;
  --eduvers-bdr-radius: 10px;
}





















/*--------------------------------------------------------------
# End All Css
--------------------------------------------------------------*/