/*--------------------------------------------------------------
  TABLE OF CONTENTS:
----------------------------------------------------------------

** - Utility
** - Common
** - Custom Cursor
** - Animations
** - Cards
** - Navigation
** - Home Showcase
** - Mobile Nav
** - Search Popup
** - Page Header
** - Main Slider
** - About
** - Services
** - ServiceS Details
** - Project
** - Project Details
** - Video
** - Funfact
** - Team
** - Team Details
** - Contact
** - Testimonial
** - Why Choose
** - Working Process
** - Blog
** - Blog List
** - Blog Standard
** - Blog Details
** - Feature
** - Pricing Plan
** - Faq
** - Gallery
** - History
** - Coming Soon
** - Products
** - Product Details
** - Cart
** - Checkout
** - Wishlist
** - Sign Up
** - Login
** - Privacy Policy
** - Error
** - Footer
** - Google Map

--------------------------------------------------------------*/


/*--------------------------------------------------------------
# Common
--------------------------------------------------------------*/
:root {
  --eduvers-base: #687EFF;
  --eduvers-base-rgb: 104, 126, 255;
  --eduvers-black: #052143;
  --eduvers-black-rgb: 5, 33, 67;
  --eduvers-primary: #F87A53;
  --eduvers-primary-rgb: 248, 122, 83;
  --eduvers-secondary: #f8f7ff;
  --eduvers-secondary-rgb: 248, 247, 255;
  --eduvers-bdr-radius: 10px;
}





















/*--------------------------------------------------------------
# End All Css
--------------------------------------------------------------*/