@font-face {
  font-family: 'icomoon';
  src: url('../fonts/icomoon78ed.eot?orkqwr');
  src: url('../fonts/icomoon78ed.eot?orkqwr#iefix') format('embedded-opentype'),
    url('../fonts/icomoon78ed.ttf?orkqwr') format('truetype'),
    url('../fonts/icomoon78ed.woff?orkqwr') format('woff'),
    url('../fonts/icomoon78ed.svg?orkqwr#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"],
[class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}






.icon-stopwatch:before {
  content: "\e900";
}

.icon-on-time:before {
  content: "\e901";
}

.icon-on-time-1:before {
  content: "\e902";
}

.icon-education:before {
  content: "\e903";
}

.icon-graduate-hat:before {
  content: "\e904";
}

.icon-graduation-cap:before {
  content: "\e905";
}

.icon-online-course:before {
  content: "\e906";
}

.icon-online-education:before {
  content: "\e907";
}

.icon-desktop-computer:before {
  content: "\e908";
}

.icon-online-education-1:before {
  content: "\e909";
}

.icon-online-course-1:before {
  content: "\e90a";
}

.icon-star:before {
  content: "\e90b";
}

.icon-book:before {
  content: "\e90c";
}

.icon-agenda:before {
  content: "\e90d";
}

.icon-clock:before {
  content: "\e90e";
}

.icon-clock-1:before {
  content: "\e90f";
}

.icon-clock-2:before {
  content: "\e910";
}

.icon-fast-time:before {
  content: "\e911";
}

.icon-next:before {
  content: "\e912";
}

.icon-back:before {
  content: "\e913";
}

.icon-planning:before {
  content: "\e914";
}

.icon-efficacy:before {
  content: "\e915";
}

.icon-paint:before {
  content: "\e916";
}

.icon-protection:before {
  content: "\e917";
}

.icon-medicine:before {
  content: "\e918";
}

.icon-computer-science:before {
  content: "\e919";
}

.icon-science:before {
  content: "\e91a";
}

.icon-natural-ingredients:before {
  content: "\e91b";
}

.icon-plant:before {
  content: "\e91c";
}

.icon-calculating:before {
  content: "\e91d";
}

.icon-movie:before {
  content: "\e91e";
}

.icon-video-camera:before {
  content: "\e91f";
}

.icon-video-editing:before {
  content: "\e920";
}

.icon-promotion:before {
  content: "\e921";
}

.icon-promotion-1:before {
  content: "\e922";
}

.icon-social-media-marketing:before {
  content: "\e923";
}

.icon-personal-growth:before {
  content: "\e924";
}

.icon-check-mark:before {
  content: "\e925";
}

.icon-graduate:before {
  content: "\e926";
}

.icon-chat:before {
  content: "\e927";
}

.icon-user:before {
  content: "\e928";
}

.icon-book-1:before {
  content: "\e929";
}

.icon-open-book:before {
  content: "\e92a";
}

.icon-cashless-payment:before {
  content: "\e92b";
}

.icon-credit-card:before {
  content: "\e92c";
}

.icon-online-learning:before {
  content: "\e92d";
}

.icon-online-learning-1:before {
  content: "\e92e";
}

.icon-certificate:before {
  content: "\e92f";
}

.icon-straight-quotes:before {
  content: "\e930";
}

.icon-quote:before {
  content: "\e931";
}

.icon-star-1:before {
  content: "\e932";
}

.icon-star-2:before {
  content: "\e933";
}

.icon-star-3:before {
  content: "\e934";
}

.icon-favorites:before {
  content: "\e935";
}

.icon-google-play:before {
  content: "\e936";
}

.icon-apple-logo:before {
  content: "\e937";
}

.icon-trophy:before {
  content: "\e938";
}

.icon-award:before {
  content: "\e939";
}

.icon-premium-badge:before {
  content: "\e93a";
}

.icon-medal:before {
  content: "\e93b";
}

.icon-check-circle:before {
  content: "\e93c";
}

.icon-healthcare:before {
  content: "\e93d";
}

.icon-design-thinking:before {
  content: "\e93e";
}

.icon-musical-note:before {
  content: "\e93f";
}

.icon-script:before {
  content: "\e940";
}

.icon-open-book-1:before {
  content: "\e941";
}

.icon-brain:before {
  content: "\e942";
}

.icon-deep-learning:before {
  content: "\e943";
}

.icon-physiotherapy:before {
  content: "\e944";
}

.icon-search:before {
  content: "\e945";
}

.icon-search-interface-symbol:before {
  content: "\e946";
}

.icon-plus:before {
  content: "\e947";
}

.icon-minus-sign:before {
  content: "\e948";
}

.icon-heart:before {
  content: "\e949";
}

.icon-heart-1:before {
  content: "\e94a";
}

.icon-like:before {
  content: "\e94b";
}

.icon-bar-chart:before {
  content: "\e94c";
}

.icon-growth:before {
  content: "\e94d";
}

.icon-bar-graph:before {
  content: "\e94e";
}

.icon-time:before {
  content: "\e94f";
}

.icon-open-book-2:before {
  content: "\e950";
}